POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

API_PORT=
UI_PORT=

OLLAMA_BASE_URL=
OLLAMA_MODEL=
OLLAMA_TIMEOUT_S=

STT_BASE_URL=
STT_TIMEOUT_S=

TTS_BASE_URL=
TTS_TIMEOUT_S=

NEXT_PUBLIC_API_BASE_URL=


